header{
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
    transition: 0.7s;
    background: #eeeeee;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

.navbar-brand
{
    font-size: 150%;
}
.nav-item{
    margin-right: 10px;
}
.active{
    border-top: 1px solid #000;
}
.aaa:hover{
    border-top: 1px solid #000;
    transition: ease-in-out 1s;
}

.login_button{
	background: #A3D921;
	border-radius: 100px;
	padding: 0 20px;
	font-weight: 600;
}
.login_btn{
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}


.navbar-light .navbar-nav .nav-link{
    opacity: 1 !important;
    color: #222222 !important;
}